body{
    background-color: grey;
    margin: 0px;
    width: 100%;
}

.myHeaderClass {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 500;	
}

.wrap {
    margin-top: 60px;
}

nav ul {
    padding-left: 100px;
    margin-bottom: 0px;
}

ul a{
    text-decoration: none;  
    color:#666;    
}

nav ul li{
    padding-left: 50px;
    display: inline;
}

.container_1 {

    display: flex;
    justify-content: space-around;
    background-color: grey;
}
.container_1 .imageBox{
    padding-left: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width:33%;
    background-color: grey;
}
 .pic {
    /* padding-left: 2px; */
    width: 333px;
    height: 300px;
    border: 1px solid grey;
}
.pic img{
    width: 333px;
    height: 300px;
}
 .box {
    /* padding-left: 2px; */
    width: 333px;
    height: 100px;
    border: 1px solid grey;
}

ul a:hover{
    text-decoration: underline;
    color:black;
    font-size: 15px;
}

.carouselLayout{
     margin-bottom: 3vh;
     margin-bottom: 3vh;
}


.container_2 {
    display: flex;
    justify-content: space-between;
    /* background-color: cyan; */
    width:100%;
    z-index: 100;
  }
.aside {
    width:15%;
  }

  .imgCls{
    /* height: 50%;
    width: 100%; */
    width:213px;
    height: 150px;
    border:1px solid black;
    background-color: orange;
}
  /* div ul li{
      text-align: center;
      list-style-type: none; 
  } */

  .container2_text_main{
    background-color: orange;
    width:85%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    z-index: 1000;
  }

  .contaicontainer2_text_main .boxes {
    background-color: orange;
}

 .footer{
    width: 100%;
    height: 30%;
    /* background-color: chartreuse; */
}

.footer img:hover{   
    cursor: pointer;
}

@media (min-width: 1200px) {
    nav ul {
        padding-left: 250px;
    }

    nav ul li {
        padding-left: 150px;
    }
}

@media (max-width: 760px) {
    .myHeaderClass {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imageClass {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        padding-left: 0px;
    }

    nav ul li {
        padding-left: 0px;
    }

    .headerClass {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    nav ul li a {
        font-size: 30px;
    }
    
    nav ul li {
        margin: 0;
        display:list-item;
        list-style: none;
    }

        .container_1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            }
        .imageBox{            
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .pic{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left:300px;
            width: 300px;
            height: 400px;
        }
        .pic img{
            width: 250x;
            height: 300px;
        }
         .box {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left:300px;
            width: 300px;
            height: 300px;
            font-size: 20px;
        }  

        .container_2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            }
            .container2_text_main{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .aside{
                margin-top: 35px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-left:300px;
                width: 150px;
                height: 150px;
            }
            .aside .imgCls{
                width: 100x;
                height: 75px;
            }



        .boxes{            
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
}

@media (max-width: 480px) {

    .imageClass img {
        width: 200px;
        height: 100px;
    }

    nav ul {
        margin-top: 10px;
    }
    nav ul li a {
        font-size: 60px;
    }

    .container_1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        }
    .imageBox{            
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .pic{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left:300px;
        width: 200px;
        height: 300px;
    }
    .pic img{
        width: 150x;
        height: 200px;
    }
     .box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left:300px;
        width: 200px;
        height: 200px;
        font-size: 20px;
    }
    
    .container_2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        }
        .container2_text_main{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    .boxes{            
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 20px;
    }

    .aside{
        margin-top: 25px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left:300px;
        width: 100px;
        height: 100px;
    }
    .aside .imgCls{
        width: 50x;
        height: 55px;
    }



}




